
.container{
    display: flex;
    justify-content: center;
}
.bg-green{ 
    background: #406665!important;
}
.bg-header{
    background:#77A69D!important;
}
.table{
    margin-bottom: 0px!important;  
}

.card{ 
    background:#77A69D!important;
}

.table-striped > tbody > tr:nth-child(odd) > td{
    background: rgb(240,255,252);
}

.table tr td{ 
    border-bottom: 0!important; 
}
 
body{
    background: rgb(240,255,252);
    background: radial-gradient(circle, rgba(240,255,252,1) 100%, rgba(119,166,157,1) 100%);
}

.nav-link.active {
    background: #406665!important; 
    color: white !important;
    font-weight: bold;
    border-radius: 100px;
}


#sidebar {
       
    width: 220px; 
    height: 83vh; 
    background-color:#77A69D;
    color: white;
    transition: transform 0.3s ease;
   
}

.tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    align-items: center;
    vertical-align: middle;
}

 
.tableimg{
    border-radius: 6px;
}

